<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ .title}}</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="static/js/index.js" />
	</head>
	<body>
		<nav class="hidden md:flex space-x-4">
			<a href="/" class="text-blue-500 hover:underline">Home</a>
			<a href="/about" class="text-blue-500 hover:underline">About</a>
		</nav>

		<main class="p-4 max-w-6xl mx-auto">{{ template "content" . }} }</main>

		<footer class="p-4 text-center text-sm text-gray-500">
			&copy; 2025 MySite
		</footer>
	</body>
</html>
