{{define "imports"}}
<script src="../static/auth/auth.js" defer></script>
{{end}} {{define "content"}}
<h2 class="text-2xl font-bold mb-4 text-dark">Sign Up</h2>

<form
	action="/signUp"
	method="POST"
	class="space-y-5 max-w-sm bg-sage p-6 rounded-lg shadow-md"
	id="signUp-form"
	novalidate
>
	<div>
		<label for="email" class="block text-sm font-medium mb-1 text-dark"
			>Email</label
		>
		<input
			type="email"
			id="email"
			name="email"
			class="w-full border border-olive bg-cream text-dark p-2 rounded focus:outline-none focus:ring-2 focus:ring-olive"
		/>
	</div>

	<div>
		<label for="password" class="block text-sm font-medium mb-1 text-dark"
			>Password</label
		>
		<input
			type="password"
			id="password"
			name="password"
			class="w-full border border-olive bg-cream text-dark p-2 rounded focus:outline-none focus:ring-2 focus:ring-olive"
		/>
	</div>

	<div>
		<label
			for="confirmPassword"
			class="block text-sm font-medium mb-1 text-dark"
			>Confirm Password</label
		>
		<input
			type="password"
			id="confirm-password"
			name="confirmPassword"
			class="w-full border border-olive bg-cream text-dark p-2 rounded focus:outline-none focus:ring-2 focus:ring-olive"
		/>
	</div>

	<div class="error-block text-red-700 text-sm"></div>

	<button
		type="submit"
		class="w-full bg-dark text-cream px-4 py-2 rounded hover:bg-olive transition"
	>
		Sign Up
	</button>

	<p class="text-sm mt-3 text-dark">
		Already have an account?
		<a href="/login" class="text-olive font-medium hover:underline"
			>Login</a
		>
	</p>
</form>
{{end}}
